*{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
 font-size: calc(10px+1vh);
 height: 98vh ;    
 position: relative;
}
header{font-size: 1.8em;
       height: 15% ;
       position: relative;
}
header p#status{
    font-size: 0.6em;
    color: rgb(0, 170, 255);
}
header p#status span{
    font-size: 1.2em;
    color: rgb(47, 255, 54) ;
    font-weight: bold;
}
nav{ height: 6% ;}
nav button{
    font-size: 1.2em;
   }
button.small{
    width: 30%;
    padding: 0.1em 0.2em;  
}
button{
    display: inline;
    border: none;
    background-color:black;
    color:rgb(255, 47, 231);
}
button:hover{
    color:rgba(255, 255, 255, 0);
}
button.big{
    width: 45%;
    padding: 0.1em 0.5em;  
}
main{
    margin-top: 1em;
    font-size: 1.6em;
    height: 60% ;
    position: relative;
}
main p#en{
    font-size: 1.6em;
    color:rgb(173, 218, 230);
    text-shadow: 2px 2px rgb(128, 128, 128) ;
}
main p#pn{
    font-size: 1.2em;
    color:whitesmoke;
   }
form{
    position: absolute ;
    width: 90% ;
    height: 50% ;
    border: 2px solid gray;
    left: 5% ;
    top: 10% ;
    background-color: antiquewhite;
    font-size: 1.1em ;
}
form input{
    font-size: 1.1em ;
    width: 6em;
}
form button{
    font-size: 1.3rem ;
    margin-right: 1em;
}
footer{
    height: 20% ;
    font-size:1.2em;
}
span#level{
    display: block;
    position: absolute;
    right:20px;
    top:1px;
    color:blue;
    font-size: 0.5em;
}
p.cn{
  border:1px solid blue ;
  background-color: antiquewhite;
  cursor: pointer;
  font-size: 0.8em;
  padding:0.2em 0.1em ;
  margin-bottom: 0.2em;
}
p.cn.right{
  background-color: green;
  color: yellow ;
}
p.cn.wrong{
  background-color: gray;
  color:white;
}
p.cn:hover{
    color: rgb(0, 255, 89) ;
}
main span#response{
    font-size: 1.8em;
    color: rgb(0, 170, 255);
    position: absolute;
    right: 0.5em;
    top:3em;
}
p#log{
    background-color: gray;
    color: white;
    font-size: 0.65em;
    padding: 5px 10px;
    text-align: center;
}
